/* 导入全局样式 */
@import './styles/variables.css';
@import './styles/global.css';

html {
    background-color: var(--bg-primary);
    text-align: center;
    color: var(--text-primary);
}

body {
    margin: 0;
    color: var(--text-primary);
    font-family: var(--font-family);
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    height: 100vh;
    text-align: center;
}
